@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

* {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	background-color: #dfdfdf;
	border-radius: 7px;
	padding: 2px;
	color: black;
	font-size: small;
	text-align: center;
}

a:hover {
	background-color: #afafaf;
}

#myCanvas {
	position: absolute;
	width: 480px;
	height: 300px;
}

.container {
	width: 200px;
	height: 260px;
	position: relative;
	perspective: 800px;
}

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#card div {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#card .back {
	transform: rotateY(180deg);
}

#card.flipped {
	transform: rotateY(180deg);
}